<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css', _external=True) }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
  {% block head %}
  <title>简易微博系统</title>
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">

          <span class="logo"></span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">话题</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">下拉菜单 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索微博、找人">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('logout') }}" title="退出登录">退出登录</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('changepwd') }}">更改密码</a></li>
              <li><a href="{{ url_for('profile',nickname=current_user.nickname) }}">个人信息</a></li>
              <li class="divider"></li>
              <li><a href="#">退出登录</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="{{ url_for('regist') }}" title="注册">注册</a></li>
          <li><a href="{{ url_for('login') }}" title="登录">登录</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- flash消息 -->
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-flush">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
  {% endfor %}
  <!-- //flash消息 -->
  <div class="layout">
    {% block content %}
    <!-- 内容区域 -->
    {% endblock %}
  </div>
  <footer class="footer">
    <h5 class="text-center">版权所有@2016-2017</h5>
  </footer>
  <script src="{{ url_for('static', filename='jquery.1.10.2.min.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js', _external=True) }}"></script>
  {% block extrajs %}
  <!-- js -->
  {% endblock %}
</body>
</html>